Handle flow control requests

[RFC4254 Section 6.8](https://tools.ietf.org/html/rfc4254#page-14) describes how terminal flow control can be used to speed up transfer. Investigate if an implementation is possible, and if yes implement.

This is a client-specific message, DUH.