Add support for UDP forwarding

Add support for forwarding UDP connections (this is not standardized in an RFC yet.

I had asked online (in general):

> Is there a technical or political reason we can't patch `ssh` to add in UDP forwarding (or even SCTP)? Doing `socat` hacks is really not fun or easy.

Janos pointed out:

> Btw if anyone's looking, TCP/IP forwarding in SSH is described in RFC 4254 section 7 https://tools.ietf.org/html/rfc4254#page-16

I think it would be great if someone root caused this and opened up an RFC and got this implemented in OpenSSH server and client which everyone uses. I'm not the right person for that, but I support the effort.

@purpleidea thank you. I was a bit brief in the issue, but it seems to me that the first step in implementing UDP support would be to write an RFC similar to section 7 in RFC 4254, submitting it, and providing a sample implementation. If this effort pans out we'll hopefully have UDP support across the board.

As TCP forwarding is on our roadmap (see #58 ) we can implement both at the same time and that will give us a good idea on how much different the code is to the TCP variant.

One question though: what's your UDP payload? (This is interesting for testing.)

> write an RFC similar to section 7 in RFC 4254, submitting it, and providing a sample implementation.

Will you do this or do you know someone who can?

> what's your UDP payload? (This is interesting for testing.)

Good question. I've had *many* over the years. I ran into this wall yet again just recently. My most recent was for SIP. (Yes I know you can use TCP too, but I was doing some SIP hacks that would have made this more fun.)

I'll try and remember what other uses were, but all I have is repressed memories of `socat` usage.

Lastly, I don't know if this will become a priority with SPDY (HTTP thing) since AIUI it's UDP, and all of a sudden we won't be able to tunnel "modern" HTTP. So this will probably need to happen sooner rather than later.

@purpleidea I can do the RFC and sample part, but I'm not qualified to write the C code for OpenSSH itself.

Re use cases: SPDY is probably the easiest to test, I'll use that to test.